body {
    background: #0000000f;
}

.first-box {
    background-color:gold;
    border-radius: 12px;
    padding: 10px;
}

#main-text {
    font-size:xx-large;
    font-weight: bold;
}

#second-text {
    font-style: italic;
}

.second-box {
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
}

#third-text {
color: blue;
font-size:xx-large ;
font-weight:bold;
}

#fourth-text {
    font-size:x-small ;
    font-style: italic;
}

.grade-box {
    background-color:#ffffff;
    border-radius: 12px;
    padding-left:12px;
    padding-top:12px;
    padding-bottom:12px;
    padding-right: 12px;
    margin-top:12px;
}

.stundent-box {
    border-style: solid;
    border-width: 1px;
    border-color: #00000014;
    border-radius: 10px;
    margin-top:10px;
    background-color:#0000000f;
    padding:6px;
} 

#stundent-name {
    margin:0px;
    font-weight: bold;
    text-transform: capitalize;
}