.navbar {
    background: rgb(26, 40, 237) ;
    min-height: 50px;
    border-radius: 6px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    display: flex;
    align-items: center; 
    padding: 0px 9px;   
    gap:10px;
    justify-content: space-between;
    
}
.navbar-body {
    display: flex;
    list-style: none;
    gap: 4px;
}
#navbar-title {
    color: white;
    font-size: large;
    font-weight: bold;
} 

.navbar-list { 
    list-style-type: none;
    margin: 0;
    padding: 0;

} 

.navbar-list li {
    display: inline-block;
    margin: 8px 0px;    
}

.navbar-list a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 12px;
}

footer {
    text-align: center;
    margin-bottom: 30px
}