body {
    background: gray;
}

.first-box {
    background-color: white;
    border-radius: 12px;
    padding: 10px;
}

#main-text {
    font-size:xx-large;
    font-weight: bold;
}

#second-text {
    font-style: italic;
}

.second-box {
    margin-top: 10px;
    background-color: white;
    border-radius: 12px;
    padding: 10px;
}

#third-text {
color: blue;
font-size:xx-large ;
font-weight:bold;
}

#fourth-text {
    font-size:x-small ;
    font-style: italic;
}